{{#auctions}}
	<tr class="auction">
		<td class="datey">{{date}}</td>
		<td class="address">{{address}}</td>
		<td class="appraised">${{money appraised}}</td>
		<td class="starting">${{money startingBid}}</td>
		<td class="case">{{caseNumber}}</td>
	</tr>
{{/auctions}}