{{#auctions}}
	<tr class="auction">
		<td class="datey">{{prettyDate date}}</td>
		<td class="address">
			{{address}}
			<a class="map" target="_blank" href="http://maps.google.com/?q={{address}}"></a>
		</td>
		<td class="appraised">${{money appraised}}</td>
		<td class="starting">${{money startingBid}}</td>
		<td class="case">{{caseNumber}}</td>
	</tr>
{{/auctions}}