{{#auctions}}
	<tr class="auction">
		<td class="datey">{{date}}</td>
		<td class="address">{{address}}</td>
		<td class="appraised">{{appraised}}</td>
		<td class="starting">{{startingBid}}</td>
		<td class="case">{{caseNumber}}</td>
	</tr>
{{/auctions}}